---
http_interactions:
- request:
    method: get
    uri: http://account-qa.networkforgood.com/api/v1/admins?email=tom@givecorps.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer __token__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"0ae6ce6f1852073f0d1f72206ff4c07d"
    body:
      encoding: ASCII-8BIT
      string: '[{"table":{"first_name":"Tom","last_name":"Hoen","email":"tom@givecorps.com","status":"active","roles":["supervisor","sysadmin"],"root_url":"http://baltimore.sso-qa.givecorps.com/admin/auth/sso-openid","org_status":"active","app":"evo","org_identifier":"baltimore"}},{"table":{"first_name":"Tom","last_name":"Hoen","email":"tom@givecorps.com","status":"active","roles":["manager"],"root_url":"http://troweprice.sso-qa.givecorps.com/admin/auth/sso-openid","org_status":"active","app":"evo","org_identifier":"troweprice"}}]'
  recorded_at: Wed, 08 Mar 2017 19:50:49 GMT
recorded_with: VCR 3.0.3
