---
http_interactions:
- request:
    method: get
    uri: http://account-qa.networkforgood.com/api/v1/admins?email=nfgcvlx%2B27-1095214d@gmail.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer __token__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"cfe389f05313555cd1f6b31583068c8d"
    body:
      encoding: ASCII-8BIT
      string: '[{"table":{"first_name":"Tom","last_name":"Hoen","email":"tom@givecorps.com","status":"active","roles":["supervisor","sysadmin"],"root_url":"http://baltimore.sso-qa.givecorps.com/admin/auth/sso-openid","org_status":"active","app":"evo","org_identifier":"baltimore"}},{"table":{"first_name":"Tom","last_name":"Hoen","email":"tom@givecorps.com","status":"active","roles":["manager"],"root_url":"http://troweprice.sso-qa.dm.givecorps.com/admin/auth/sso-openid","org_status":"active","app":"dms","org_identifier":"troweprice"}},{"table":{"first_name":"Jan","last_name":"Smith","email":"nfgcvlx+27-1095214D@gmail.com","status":"active","roles":["AccountManager","GeneralAccess","ReportViewer","ServiceManager"],"root_url":"https://npo-qa05.nfghq.org/npo/dashboard.aspx","org_status":"inactive","app":"GPNpo","org_identifier":"2129178"}},{"table":{"first_name":"Frank","last_name":"Smith","email":"nfgcvlx+27-1095214D@gmail.com","status":"inactive","roles":["AccountManager","GeneralAccess","ReportViewer","ServiceManager"],"root_url":"https://npo-qa05.nfghq.org/npo/dashboard.aspx","org_status":"active","app":"GPNpo","org_identifier":"2129178"}},{"table":{"first_name":"Dipali","last_name":"K","email":"nfgcvlx+27-1095214D@gmail.com","status":"active","roles":["AccountManager","GeneralAccess","ReportViewer","ServiceManager"],"root_url":"https://npo-qa05.nfghq.org/npo/dashboard.aspx","org_status":"active","app":"GPNpo","org_identifier":"2129178"}}]'
  recorded_at: Wed, 08 Mar 2017 20:06:54 GMT
recorded_with: VCR 3.0.3
