---
http_interactions:
- request:
    method: get
    uri: http://account.lvh.me:3002/api/v1/admins?email=nfgcvlx%2B27-1095214d@gmail.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer __token__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"cfe389f05313555cd1f6b31583068c8d"
    body:
      encoding: ASCII-8BIT
      string: '[{"table":{"first_name":"Dipali","last_name":"K","email":"nfgcvlx+27-1095214D@gmail.com","status":"inactive","roles":["AccountManager","GeneralAccess","ReportViewer","ServiceManager"],"root_url":"https://npo-qa05.nfghq.org/npo/dashboard.aspx","org_status":"active","app":"GPNpo","org_identifier":"2129178"}}]'
  recorded_at: Wed, 08 Mar 2017 19:50:49 GMT
recorded_with: VCR 3.0.3
