---
http_interactions:
- request:
    method: get
    uri: https://users-uat.networkforgood.org/api/user?username=john@smith.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer __dummy_token__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"ID":"0bd1b7b1-ba47-49d3-8210-ad01e17bb5a2","Username":"john@smith.com","FirstName":"John","LastName":"Smith","Claims":[{"Type":"nfg_account","Value":"1230456"}]}]'
  recorded_at: Tue, 25 Apr 2017 19:31:41 GMT
- request:
    method: put
    uri: https://users-uat.networkforgood.org/api/user/0bd1b7b1-ba47-49d3-8210-ad01e17bb5a2
    body:
      encoding: UTF-8
      string: '{"firstName":"John","lastName":"Smith","username":"john@smith.com","claims":[{"type":"nfg_account","value":"1230456"}]}'
    headers:
      Authorization:
      - Bearer __dummy_token__
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"ID":"0bd1b7b1-ba47-49d3-8210-ad01e17bb5a2","Username":"john@smith.com","FirstName":"John","LastName":"Smith","Claims":[{"Type":"nfg_account","Value":"1230456"}]}'
  recorded_at: Thu, 22 Dec 2016 21:46:04 GMT
- request:
    method: post
    uri: https://users-uat.networkforgood.org/api/user
    body:
      encoding: UTF-8
      string: '{"firstName":"John","lastName":"Smith","username":"john@smith.com","claims":[{"type":"nfg_account","value":"1230456"}]}'
    headers:
      Authorization:
      - Bearer __dummy_token__
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://users-uat.networkforgood.org/api/user/ddbacd24-1bdc-43e7-9cac-bca62223b042
    body:
      encoding: UTF-8
      string: '{"ID":"0bd1b7b1-ba47-49d3-8210-ad01e17bb5a2","Username":"john@smith.com","FirstName":"John","LastName":"Smith","Claims":[{"Type":"nfg_account","Value":"1230456"}]}'
  recorded_at: Tue, 25 Apr 2017 19:31:41 GMT
recorded_with: VCR 3.0.3
