---
http_interactions:
- request:
    method: post
    uri: https://users-qa.networkforgood.org/api/user
    body:
      encoding: UTF-8
      string: '{"firstName":"John","lastName":"Smith","username":"john@smith.com","claims":[{"type":"nfg_account","value":"1230456"}]}'
    headers:
      Authorization:
      - Bearer __dummy_token__
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://users-qa.networkforgood.org/api/user/0bd1b7b1-ba47-49d3-8210-ad01e17bb5a2
    body:
      encoding: UTF-8
      string: '{"ID":"0bd1b7b1-ba47-49d3-8210-ad01e17bb5a2","Username":"john@smith.com","FirstName":"John","LastName":"Smith","Claims":[{"Type":"nfg_account","Value":"1230456"}]}'
  recorded_at: Thu, 22 Dec 2016 21:23:40 GMT
recorded_with: VCR 3.0.3
